@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Sora:wght@300;600&display=swap");

:root {
  --back-black: #272727;
  --back-blue: #0793f3;
  --back-gray: #d9d9d9;
  --back-darker-gray: #535353;
  --back-body: #ededec;
  --color-black: #535353;
  --color-white: #ffffff;
  --color-gray: #c2c2c2;
  --body-p: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  background: #ededec;
}

iframe {
  width: 288px;
  height: 512px;
  border-radius: 3px;
}

.discovery__divider {
  display: none;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2424244d;
  z-index: 100;
  backdrop-filter: blur(2px);
  display: none; /* Inicialmente oculto */
}

.nav__logo-menu {
  margin-bottom: 40px;
}

.side-menu .banner-top-menu {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
}

.side-menu {
  position: fixed;
  padding: 102px 28px;
  top: 0;
  left: -203px; /* Oculto inicialmente */
  width: 203px;
  height: 100%;
  background-color: #ededec;
  z-index: 101;
  /* overflow-y: auto; */
  transition: left 0.3s; /* Animação fluida */
}

.side-menu ul {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
  margin-bottom: 80px;
}

.side-menu ul li {
  margin-bottom: 30px;
}

.side-menu ul li a {
  color: var(--color-black);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 123.28%;
  text-decoration: none;
}

.event {
  color: var(--color-black);
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 123.28%;
  text-decoration: none;
}

.divider-menu {
  background: var(--back-black);
  height: 3px;
}

.header__banner-top {
  background-color: var(--back-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100vw;
}

.header__banner-top > span {
  background-color: var(--back-blue);
  color: var(--color-white);
  border-radius: 15px;
  font-family: "Sora", sans-serif;
  font-size: 0.95rem;
  font-weight: 600;
  line-height: 126.28%;
  padding: 2px 6px;
  margin-bottom: 4px;
}

.header__banner-top > p {
  color: var(--color-white);
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 126.28%;
}

nav {
  display: flex;
  padding: 1rem 2rem;
  column-gap: 70px;
  align-items: center;
}

.nav__logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.nav__logo img {
  background-color: var(--back-black);
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.nav__text-site {
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 92%;
  margin-bottom: 2px;
}

.nav__dotcom {
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 92%;
}

.nav__text-career {
  color: var(--color-white);
  font-size: 0.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 92%;
  background-color: var(--back-darker-gray);
  padding: 2px 2px;
  text-align: center;
}

.header__banner-bellow-nav {
  background-color: var(--back-blue);
  margin-bottom: 10px;
}

.header__banner-bellow-nav h3 {
  color: var(--color-white);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 102.78%;
  padding: 10px 16px;
}

.header__banner-first-1000 {
  display: flex;
  align-items: center;
  background-color: var(--back-black);
  padding: 5px 8px;
  gap: 5px;
  margin: 0 var(--body-p);
  max-width: 230px;
  margin-bottom: 1rem;
  border-radius: 30px;
}

.header__banner-first-1000 p {
  color: var(--color-white);
  font-size: 0.5rem;
  font-weight: 500;
  line-height: 77.28%;
}

.header__banner-first-1000 span {
  font-weight: 700;
}

header > h1 {
  color: var(--color-black);
  font-size: 2rem;
  font-weight: 600;
  line-height: 37.814px;
  padding: 0 var(--body-p);
  max-width: 350px;
  margin-bottom: 1rem;
}

header > p {
  padding: 0 var(--body-p);
  color: var(--color-black);
  font-size: 20px;
  font-weight: 400;
  line-height: 123.28%;
  margin-bottom: 2rem;
}

.header__testimonials {
  margin-bottom: 65px;
  display: flex;
  overflow-x: scroll;
  width: 100%;
  gap: 20px;
  padding: 0 var(--body-p);
}

.header__testimonials::-webkit-scrollbar {
  display: none;
}

.header__testimonial {
  flex: 0 0 288px;
  border-radius: 4px;
}

.discovery {
  padding: 0 var(--body-p);
}

.discovery__left h2 {
  color: var(--color-black);
  font-size: 3rem;
  font-weight: 600;
  line-height: 57.661px;
  margin-bottom: 1rem;
}

.discovery__left > p {
  color: var(--color-black);
  font-size: 1.125rem;
  line-height: 123.28%;
  margin-bottom: 1.5rem;
}

.discovery__titles {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 1.5rem;
}

.discovery__titles .discovery__numbers {
  padding: 7px;
  background: var(--back-darker-gray);
  color: #fff;
  font-size: 1.125rem;
  line-height: 102.78%;
  font-weight: 300;
}

.discovery__titles > h4 {
  color: var(--color-black);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 102.78%;
}

.discovery__alert {
  padding: 20px 30px;
  border: 1px solid #fff;
  background: rgba(83, 83, 83, 0.2);
  backdrop-filter: blur(2px);
  color: var(--color-black);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 102.78%;
  text-align: left;
  margin-bottom: 22px;
}

.discovery__alert span {
  color: #c60404;
  font-weight: 600;
  line-height: 102.78%;
}

.discovery__select {
  background-color: var(--back-black);
  padding: 17px 17px 40px 17px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discovery__top {
  border-radius: 30px;
  background: var(--back-darker-gray);
  padding: 10px 15px;
  text-align: center;
  color: #c2c2c2;
  font-size: 1rem;
  font-weight: 400;
  line-height: 102.78%;
  margin: 0 20px;
  margin-bottom: 27px;
}

.discovery__top img {
  margin-right: 10px;
}

.discovery__text {
  color: var(--color-white);
  text-align: center;
  font-weight: 600;
  line-height: 102.78%;
  margin-bottom: 27px;
}

.discovery__investment {
  color: var(--color-black);
  text-align: center;
  font-weight: 600;
  line-height: 23.481px;
  margin-bottom: 1rem;
}

.discovery__price {
  position: relative;
  color: var(--color-white);
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 40.981px;
  text-align: center;
}

.red-line {
  width: 198px;
  height: 2px;
  transform: rotate(-4.939deg);
  background: #e84855;
  position: absolute;
  left: -10px;
  top: 22px;
}

.rs-small {
  font-size: 0.6rem;
}

.discovery__discovery {
  background-color: var(--back-black);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discovery__top-2 {
  border-radius: 30px;
  background: var(--back-darker-gray);
  padding: 10px 10px;
  text-align: center;
  color: #c2c2c2;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 102.78%;
  margin-bottom: 27px;
  display: flex;
  gap: 7px;
  align-items: center;
  margin-top: 10px;
  margin-top: 17px;
}

.discovery__discovery .discovery__text {
  color: var(--color-white);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 23.481px;
  max-width: 245px;
  margin-left: 26px;
  text-align: left;
}

.discovery__text span {
  color: var(--color-white);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 23.481px;
}

.discovery__sub-text {
  color: var(--color-black);
  text-align: center;
  line-height: 16.981px;
  margin-bottom: 20px;
}

.discovery__free {
  width: 100%;
  border: none;
  background: #0794f5;
  color: var(--color-white);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 102.78%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.discovery__free img {
  margin-left: 10px;
}

.doubts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 25px 25px 0px 0px;
  background: linear-gradient(180deg, #0161a2 0%, rgba(7, 148, 245, 0.79) 100%);
}

.doubts__image-news {
  margin-bottom: 65px;
  display: flex;
  overflow-x: scroll;
  width: 100%;
  gap: 10px;
}

.doubts__image-news::-webkit-scrollbar {
  display: none;
}

.doubts__image-news img {
  flex: 0 0 288px;
  border-radius: 15px;
  width: 212px;
  height: 236px;
}

.doubts > p {
  color: var(--color-white);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 17.981px;
  margin-bottom: 50px;
}

.doubts .doubts__text-wrapper .sub-text {
  font-weight: 400;
  text-align: left;
  line-height: 123.28%;
  color: var(--color-white);
  margin-bottom: 37px;
}

.doubts .doubts__text-wrapper h3 {
  color: var(--color-white);
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 34.233px;
  margin-bottom: 1rem;
}

.doubts__brands {
  background-color: whitesmoke;
  padding: 16px 30px;
  margin-bottom: 30px;
  width: 100vw;
  justify-content: center;
}

.doubts__brands .first-line {
  display: flex;
  margin-bottom: 20px;
  gap: 57px;
  align-items: center;
}

.doubts__brands .second-line {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 10px;
}

.doubts__banner {
  background-color: var(--back-black);
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doubts__banner .badge {
  border-radius: 12px;
  padding: 2px 6px;
  background: #027bce;
  color: var(--color-white);
  font-family: "Sora", sans-serif;
  font-size: 0.95rem;
  font-weight: 600;
  line-height: 126.28%;
  margin-bottom: 5px;
  max-width: 275px;
  text-align: center;
}

.doubts__banner .text {
  color: var(--color-white);
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 126.28%;
}

.ultimate {
  padding: var(--body-p);
}

.ultimate__welcome {
  color: rgba(83, 83, 83, 0.4);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 123.28%;
  margin-bottom: 1rem;
}

.ultimate .ultimate__first h2 {
  color: var(--color-black);
  font-size: 3rem;
  font-weight: 600;
  line-height: 57.661px;
  margin-bottom: 1rem;
}

.ultimate .ultimate__first p {
  color: var(--color-black);
  font-size: 1.125rem;
  line-height: 123.28%;
  margin-bottom: 1.5rem;
}

.ultimate__sucess {
  background-color: var(--back-black);
  padding: 25px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ultimate__top {
  border-radius: 30px;
  background: var(--back-darker-gray);
  padding: 10px 11px;
  text-align: center;
  color: #c2c2c2;
  font-size: 1rem;
  font-weight: 400;
  line-height: 102.78%;
  margin: 0 20px;
  margin-bottom: 27px;
}

.ultimate__text {
  color: var(--color-white);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 23.481px;
  margin-bottom: 1rem;
}

.ultimate__investment {
  color: var(--color-black);
  text-align: center;
  font-weight: 600;
  line-height: 23.481px;
  margin-bottom: 1rem;
}

.ultimate__price {
  position: relative;
  color: var(--color-white);
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 40.981px;
  text-align: center;
}

.ultimate__top img {
  margin-right: 10px;
}

.discovery__badges p {
  color: var(--color-black);
  font-size: 1rem;
  font-weight: 500;
  line-height: 16.981px;
  margin-bottom: 15px;
}

.discovery__badges ul {
  list-style: none;
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  margin-bottom: 15px;
}

.discovery__badges ul::-webkit-scrollbar {
  display: none;
}

.discovery__badges ul li {
  background-color: var(--back-black);
  display: flex;
  color: var(--color-white);
  padding: 5px;
  height: 30px;
  align-items: center;
  text-align: center;
  font-size: 0.5rem;
  font-weight: 500;
  line-height: 102.78%;
  white-space: nowrap;
}

.discovery__badges ul li img {
  margin-right: 5px;
}

.private {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--back-black);
  padding: var(--body-p);
  position: relative;
  overflow-x: clip;
  z-index: -2;
}

.private__top {
  border-radius: 30px;
  background: var(--back-darker-gray);
  padding: 10px 10px;
  text-align: center;
  color: #c2c2c2;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 102.78%;
  margin-bottom: 15px;
  display: flex;
  gap: 7px;
  align-items: center;
  margin-top: 10px;
}

.private h2 {
  color: var(--color-white);
  font-size: 4.375rem;
  font-weight: 600;
  line-height: 86.366px;
}

.private > p {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 1rem;
  line-height: 123.28%;
  margin-bottom: 30px;
}

.nav__text-site.white,
.nav__dotcom.white {
  color: var(--color-white);
}

.private > span {
  transform: rotate(-90deg);
  color: rgba(255, 255, 255, 0.8);
  font-size: 9.8rem;
  font-weight: 600;
  position: absolute;
  top: 627px;
  line-height: 111px;
  right: -351px;
  z-index: -1;
}

.private__cards {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.private__cards li {
  border-radius: 15px;
  background: linear-gradient(43deg, #0161a2 0%, #0487df 100%);
  padding: 25px 36px;
  opacity: 0.9;
}

.private__cards li h4 {
  color: var(--color-white);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 39.981px;
  margin-bottom: 1rem;
}

.private__cards li p {
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 400;
  line-height: 123.28%;
  margin-bottom: 40px;
}

.private__cards li button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 500;
  line-height: 123.28%;
}

.nav__logo.logo-private {
  margin-bottom: 2rem;
}

.operate {
  background: url(/assets/4.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -10px;
  padding: 55px 36px 32px;
}

.operate h2 {
  color: var(--color-white);
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 39.445px;
  margin-bottom: 0.5rem;
}

.operate p {
  color: var(--color-white);
  text-align: center;
  font-size: 1rem;
  line-height: 123.28%;
  margin-bottom: 80px;
}

.operate .operate__top {
  border-radius: 30px;
  background: var(--back-darker-gray);
  padding: 10px 15px;
  text-align: center;
  color: #c2c2c2;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 102.78%;
  margin-bottom: 27px;
  display: flex;
  gap: 7px;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}

.operate__glass-cards {
  list-style: none;
  display: flex;
  gap: 30px;
  overflow-x: scroll;
  margin-bottom: 30px;
}

.operate__glass-cards::-webkit-scrollbar {
  display: none;
}

.operate__glass-cards li {
  min-width: 240px;
  border-radius: 24px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(17px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 61px 29px;
  text-align: center;
}

.operate__glass-cards li img {
  margin-bottom: 15px;
}

.operate__glass-cards li h3 {
  color: var(--color-white);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 24.01px;
  margin-bottom: 10px;
}

.operate__glass-cards li p {
  color: var(--color-white);
  text-align: center;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 123.28%;
  margin-bottom: 1rem;
}

.operate__glass-cards li p a {
  color: #0487df;
  font-style: italic;
  font-weight: 500;
  line-height: 123.28%;
  text-decoration: none;
}

.operate__glass-cards li button {
  border-radius: 15px;
  border: 1px solid #fff;
  background: rgba(81, 152, 114, 0.3);
  color: var(--color-white);
  text-align: center;
  font-size: 0.6rem;
  line-height: 123.28%;
  padding: 10px;
  margin-bottom: 1rem;
}

.operate__big-glass-card {
  border-radius: 24px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(17px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 33px;
  gap: 15px;
}

.operate__big-glass-card h5 {
  color: var(--color-white);
  font-family: "Sora", sans-serif;
  font-size: 2rem;
  line-height: 102.78%;
}

.operate__big-glass-card span {
  color: var(--color-white);
  text-align: center;
  font-size: 1rem;
  line-height: 123.28%;
}

.operate__big-glass-card div {
  width: 202px;
  height: 2px;
  background: #fff;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--back-black);
  padding: 16px 36px 47px;
}

.form-section .operate__top {
  border-radius: 30px;
  background: var(--back-darker-gray);
  padding: 10px 15px;
  text-align: center;
  color: #c2c2c2;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 102.78%;
  margin-bottom: 27px;
  display: flex;
  gap: 7px;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}

.nav__logo.logo-private.nav__logo-form {
  align-self: flex-start;
}

.form-section h2 {
  color: var(--color-white);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 24.366px;
  margin-bottom: 16px;
  width: 100%;
}

.form-section > p {
  color: var(--color-white);
  font-size: 1.2rem;
  line-height: 123.28%;
  margin-bottom: 46px;
}

.form-section form p {
  color: #f8f8f8;
  text-align: center;
  font-size: 0.625rem;
  line-height: 102.78%;
  margin-bottom: 18px;
}

.form-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.form-section form input {
  border-radius: 25px;
  background: #656060;
  width: 100%;
  height: 48px;
  border: none;
  color: var(--color-white);
  padding: 16px 25px;
}

.form-section form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  line-height: 123.28%;
}

.form-section form input:focus-visible {
  outline: none;
}

.form-section form button {
  border-radius: 20.411px;
  background: #027bce;
  padding: 0.5rem 1rem;
  color: var(--color-white);
  border: none;
  margin-top: 16px;
  font-weight: 600;
  line-height: 123.28%;
}

.alerts {
  padding: 27px var(--body-p) 47px;
  background: #ededec;
}

.alerts h3 {
  color: var(--color-black);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 33.498px;
  margin-bottom: 26px;
}

.alerts__card {
  height: 409px;
  padding: 270px 20px 23px;
  margin-bottom: 15px;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
}

.alerts__card.wpp {
  background-image: url(./assets/foto-wpp.png);
}

.alerts__card.insta {
  background-image: url(./assets/foto-lista-de-transmissao.png);
}

.alerts__card.telegram {
  background-image: url(./assets/foto-telegram.png);
}

.alerts__card p {
  color: var(--color-white);
  font-size: 0.75rem;
  line-height: 124.78%;
  display: flex;
  align-items: center;
}

.alerts__card p img {
  margin-right: 3px;
}

.alerts__card h4 {
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 124.78%;
  margin-bottom: 13px;
}

.alerts__card button {
  background: #027bce;
  border: none;
  color: var(--color-white);
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 124.78%;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  border-radius: 30px;
}

.alerts__card button img {
  margin-left: 5px;
}

.alerts__social-media {
  border-radius: 15px;
  background: #242424;
  padding: 26px;
}

.alerts__social-media > p {
  color: #eee;
  text-align: center;
  font-weight: 600;
  line-height: 20.822px;
  margin-bottom: 17px;
}

.alerts__social-media ul {
  list-style: none;
  display: flex;
  gap: 6px;
  justify-content: center;
}

.who-iam {
  background-image: url(./assets/foto-quem-sou-eu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 500px var(--body-p) 19px;
  color: white;
}

.who-iam h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 39.445px;
  margin-bottom: 15px;
}

.who-iam > p {
  color: var(--color-white);
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 15px;
}

.site {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.site .first {
  font-size: 1.05rem;
  font-weight: 600;
  background: linear-gradient(
    127deg,
    #fff 0%,
    rgba(236, 236, 236, 0.54) 46.35%,
    #d3d3d3 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.site .second {
  background: #242424;
  color: #fff;
  font-size: 0.625rem;
  font-weight: 600;
  padding: 2px 16px;
}

.banner-bottom {
  background-color: var(--back-black);
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}

.banner-bottom .badge {
  border-radius: 12.143px;
  background: #027bce;
  color: var(--color-white);
  font-family: "Sora";
  font-size: 0.95rem;
  font-weight: 600;
  line-height: 126.28%;
  padding: 2px 6px;
  max-width: 275px;
}

.banner-bottom > p {
  color: var(--color-white);
  text-align: center;
  font-family: "Sora";
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 126.28%;
}

.ia-quant {
  background-color: #00000026;
  padding: 140px var(--body-p);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ia-quant .modules {
  border-radius: 25px;
  border: 1px solid #242424;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(17.5px);
  padding: 11px;
  text-align: center;
  font-size: 0.56rem;
  font-weight: 600;
  line-height: 106.28%;
  margin-bottom: 15px;
}

.ia-quant h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 88.78%;
  background: linear-gradient(
    122deg,
    #321cff 0%,
    #7303c0 31.25%,
    #ec38bc 69.79%,
    #fcbcea 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.ia-quant h2 img {
  width: 30px;
  height: 32px;
}

.ia-quant h4 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 106.28%;
  background: linear-gradient(54deg, #242424 0%, #595959 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}

.ia-quant h4 span {
  background: linear-gradient(54deg, #242424 0%, #595959 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 106.28%;
}

.ia-quant > p {
  text-align: center;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 106.28%;
  margin-bottom: 45px;
}

.ia-quant button {
  border-radius: 30px;
  background: #0794f5;
  box-shadow: 0px 3.0960853099823px 5.160141944885254px 0px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 10px 20px;
  color: var(--color-white);
  text-align: center;
  font-size: 15.846px;
  font-weight: 600;
  line-height: 102.78%;
}

footer {
  background-color: var(--back-black);
  padding: var(--body-p);
}

footer .titles {
  display: flex;
  gap: 6px;
  align-items: center;
  color: var(--color-white);
  font-size: 0.7rem;
  margin-bottom: 14px;
}

footer p {
  color: var(--color-white);
  font-size: 0.45rem;
  font-weight: 400;
  margin-bottom: 24px;
}

.copy {
  background: #161616;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 9px 50px;
  text-align: center;
}

footer ul {
  list-style: none;
  display: flex;
  gap: 5px;
  margin-bottom: 27px;
}

footer h4 {
  color: var(--color-white);
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 14px;
}

footer .text-bottom {
  color: var(--color-white);
  font-size: 0.75rem;
  font-weight: 400;
}

.ul-menu {
  list-style: none;
  display: none;
  gap: 45px;
  color: var(--color-black);
  font-size: 1rem;
  font-weight: 600;
  line-height: 77.28%;
}

nav button.btn-menu {
  border-radius: 50px;
  border: 1px solid #027bce;
  background: rgba(30, 30, 30, 0.19);
  color: var(--color-black);
  font-size: 1rem;
  font-weight: 600;
  line-height: 77.28%;
  padding: 10px;
}

.hide-on-mobile {
  display: none;
}

.doubts__image-news > div {
  width: 212px;
  height: 236px;
  flex-shrink: 0;
  background-size: cover;
  border-radius: 15px;
}

.material-1 {
  background: url(./assets/material-1-desk.png), lightgray 50% / cover no-repeat;
}
.material-2 {
  background: url(./assets/material-2-desk.png), lightgray 50% / cover no-repeat;
}
.material-3 {
  background: url(./assets/material-3-desk.png), lightgray 50% / cover no-repeat;
}

.form__wrapper-top {
  align-self: flex-start;
}

.bottom {
  padding: 91px 114px;
}

.bottom > p {
  color: #535353;
  font-size: 1rem;
  font-weight: 500;
  line-height: 102.78%;
  margin-bottom: 60px;
}

.bottom ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-bottom: 21px;
  flex-wrap: wrap;
}

.bottom ul li {
  background-color: var(--back-black);
  display: flex;
  color: var(--color-white);
  padding: 10px;
  height: 30px;
  align-items: center;
  text-align: center;
  font-weight: 500;
  line-height: 102.78%;
  white-space: nowrap;
}

.bottom ul li img {
  margin-right: 10px;
}

.alerts__card.insta {
  padding: 202px 20px 23px;
}

/* MEDIA QUERY */

@media (min-width: 1024px) {
  .alerts__card.insta {
    padding: 262px 20px 23px;
  }

  .hide-on-desktop {
    display: none;
  }

  .discovery__divider {
    height: 1px;
    width: 100%;
    background-color: white;
    margin-bottom: 35px;
    display: block;
  }

  .doubts__brands .first-line,
  .doubts__brands .second-line {
    margin-bottom: 0;
  }

  .doubts__brands .first-line {
    margin-right: 50px;
    gap: 50px;
  }

  .doubts__brands .second-line {
    gap: 50px;
  }

  .hide-on-mobile {
    display: block;
  }

  .ul-menu {
    display: flex;
  }

  .nav__menu {
    display: none;
  }

  .header__banner-top {
    flex-direction: row;
    gap: 5px;
    padding: 7px;
  }

  .header__banner-top > span {
    font-size: 0.7rem;
  }

  .header__banner-top > p {
    font-size: 1rem;
  }

  nav {
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 42px;
    width: 100%;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__banner-first-1000 {
    max-width: 424px;
    padding: 10px;
  }

  .header__banner-first-1000 p {
    font-size: 1rem;
  }

  header > h1 {
    max-width: 1060px;
    text-align: center;
    font-size: 3.5rem;
    line-height: 102.78%;
  }

  header > p {
    text-align: center;
  }

  .banners-header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .banners-header h2 {
    background: linear-gradient(117deg, #027bce 0%, #0794f5 100%);
    padding: 27px;
    color: #fff;
    text-align: center;
    font-size: 3.1rem;
    font-weight: 600;
    line-height: 79%;
  }

  .inside-banner {
    background-color: var(--back-black);
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-family: "Sora", sans-serif;
    line-height: 77.28%;
    padding: 10px;
    margin-bottom: 2rem;
  }

  .inside-banner span {
    font-size: 0.7rem;
    border-radius: 31.481px;
    background: #027bce;
    padding: 3px 6px;
    font-weight: 600;
  }

  .discovery__content-wrapper {
    display: flex;
    gap: 26px;
  }

  .discovery__left {
    max-width: 464px;
  }

  .discovery__alert {
    display: none;
  }

  .discovery__left h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .discovery__left > p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .discovery__free {
    width: 460px;
  }

  .discovery__right {
    display: flex;
  }

  .discovery__select {
    border-right: 1px solid white;
    padding: 50px 15px 105px;
    width: 50%;
    margin-bottom: 10rem;
  }

  .discovery__discovery {
    width: 50%;
    position: relative;
    margin-bottom: 10rem;
  }

  .discovery__top {
    font-size: 1.5rem;
  }

  .discovery__text {
    font-size: 1.3rem;
  }

  .discovery__discovery .discovery__text {
    font-size: 1.5rem;
    max-width: 100%;
  }

  .discovery__investment {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .discovery__price {
    font-size: 4.5rem;
    line-height: 102.78%;
  }

  .red-line {
    width: 358px;
    height: 4px;
    left: -10px;
    top: 40px;
  }

  .rs-small {
    font-size: 2.5rem;
  }

  .discovery__top-2 {
    font-size: 1.3rem;
    margin-top: 0;
    padding: 10px 15px;
    margin-top: 46px;
  }

  .discovery {
    padding: 0 0 0 65px;
  }

  .discovery__sub-text {
    text-align: left;
    margin-bottom: 2rem;
    max-width: 293px;
  }

  .alert-desktop {
    color: #fff;
    line-height: 102.78%;
    width: 267px;
    color: #fff;
    line-height: 102.78%;
  }

  .doubts > p {
    font-size: 2.5rem;
    line-height: 40.981px;
  }

  .doubts__text-wrapper {
    display: flex;
    width: 100%;
    gap: 100px;
    margin: 100px 0;
    padding: 0 80px;
    align-items: center;
  }

  .doubts__brands img {
    scale: 1;
  }

  .doubts .doubts__text-wrapper h3 {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 102.78%;
  }

  .doubts .doubts__text-wrapper .sub-text {
    font-size: 1.875rem;
    line-height: 102.78%;
  }

  .doubts__image-news {
    gap: 22px;
    padding-left: 72px;
  }

  .doubts__image-news img {
    width: 493.14px;
    height: 438.143px;
    border-radius: 13.749px;
    flex: 0 0 0;
  }

  .doubts {
    padding: 24px 0 0 0;
  }

  .doubts__image-news > div {
    width: 493.14px;
    height: 438.143px;
    flex-shrink: 0;
    background-size: cover;
    border-radius: 15px;
  }

  .doubts__banner .badge {
    font-size: 0.7rem;
    line-height: 77%;
    padding: 6px;
    margin-right: 10px;
    max-width: 300px;
  }

  .doubts__banner {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .doubts__banner .text {
    font-family: "Sora", sans-serif;
    font-size: 1rem;
    line-height: 77.28%;
  }

  .ultimate-desktop {
    padding: 86px 0;
    background: #ededec;
  }

  .top {
    display: flex;
    gap: 88px;
    margin-right: 105px;
  }

  .black-back {
    min-width: 55%;
  }

  .black-back {
    background: #272727;
    min-width: 60%;
    display: flex;
    gap: 33px;
  }

  .left {
    width: 45%;
    border-right: 1px solid #636363;
  }

  .right {
    width: 55%;
    padding: 50px 33px;
  }

  .right .ultimate__text {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 102.78%;
    margin-bottom: 3rem;
  }

  .right .ultimate__top {
    font-size: 1.5rem;
  }

  .right .ultimate__investment {
    font-size: 2rem;
  }

  .seven {
    padding: 55px 27px 25px 43px;
    border-bottom: 1px solid #636363;
  }

  .seven .discovery__text,
  .ninety .discovery__text {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 102.78%;
    text-align: left;
  }

  .seven .discovery__sub-text,
  .ninety .discovery__sub-text {
    color: #535353;
    font-size: 1rem;
    font-weight: 400;
    line-height: 102.78%;
  }

  .ninety {
    padding: 55px 27px 25px 43px;
  }

  .seven .discovery__top-2,
  .ninety .discovery__top-2 {
    justify-content: center;
  }

  .ultimate__price {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 102.78%;
  }

  .top .text h5 {
    color: rgba(83, 83, 83, 0.4);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 102.78%;
    margin-bottom: 31px;
  }
  .top .text h2 {
    color: #535353;
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 102.78%;
    margin-bottom: 13px;
  }

  .top .text p {
    color: #535353;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 102.78%;
    margin-bottom: 63px;
  }

  .top .text button {
    background: #0794f5;
    padding: 19px 21px;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 102.78%;
    border: none;
  }

  .top .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .private {
    padding: 90px 72px;
  }

  .private .private__top {
    color: #c2c2c2;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 102.78%;
    padding: 13px 24px;
  }

  .private h2 {
    color: #fff;
    font-size: 7.313rem;
    font-weight: 600;
    line-height: 102.78%;
  }

  .private > p {
    color: rgba(248, 248, 248, 0.7);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 102.78%;
  }

  .nav__text-site.white {
    color: #fff;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 92%;
  }

  .nav__dotcom.white {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 92%;
  }

  .nav__text-career {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 92%;
  }

  .private__cards li {
    padding: 59px 49px 25px;
  }

  .private__cards {
    flex-direction: row;
    gap: 60px;
  }

  .private__cards li {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20.675px;
    background: linear-gradient(136deg, #005188 0%, #027bce 100%);
    opacity: 1;
  }

  .private__cards li button {
    justify-content: space-between;
  }

  .private__cards li button img {
    scale: 1.5;
  }

  .private > span {
    top: 346px;
  }

  .private .second {
    right: -200px;
    color: rgba(255, 255, 255, 0.19);
  }

  .private .third {
    right: -55px;
    color: rgba(255, 255, 255, 0.05);
  }

  .operate-desktop {
    background: url(./assets/background-fim.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 108px 52px 72px;
  }

  .operate-desktop .operate__top {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 102.78%;
    border-radius: 30px;
    background: #535353;
    padding: 12px 24px;
    margin-bottom: 13px;
  }

  .operate-desktop h2 {
    color: #fff;
    font-size: 6rem;
    font-weight: 600;
    line-height: 102.78%;
    margin-bottom: 12px;
  }

  .operate-desktop p {
    color: #f8f8f8;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 102.78%;
    margin-bottom: 80px;
  }

  .operate__glass-cards {
    justify-content: space-between;
    width: 100%;
  }

  .operate__glass-cards li {
    padding: 0;
  }

  .operate__glass-cards li.operate__funds {
    padding: 20px 66px 71px 65px;
  }

  .operate__glass-cards li.operate__funds .funds-top {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  .operate__glass-cards li p {
    padding: 0 24px;
    font-size: 1rem;
    margin-bottom: 37px;
  }

  .operate__glass-cards li.operate__funds .funds-btn {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .operate__glass-cards-inside-wrapper {
    display: flex;
    gap: 10px;
  }

  .operate__glass-cards-inside-wrapper li {
    width: 50%;
  }

  .operate-desktop__big-glass-card {
    display: flex;
    flex-direction: column;
    gap: 33px;
    align-items: center;
    width: 100%;
    border-radius: 24px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(17px);
    padding: 30px;
  }

  .operate-desktop__numbers {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  .operate-desktop__numbers .operate-desktop__number {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }

  .operate-desktop__numbers .operate-desktop__number p {
    color: #fff;
    font-size: 0.5rem;
    line-height: 102.78%;
    margin-bottom: 0;
  }

  .operate-desktop__numbers .operate-desktop__number span {
    color: #fff;
    font-family: "Sora", sans-serif;
    font-size: 2rem;
    line-height: 102.78%;
  }

  .operate-desktop__big-glass-card > p {
    color: #f8f8f8;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 102.78%;
    align-self: flex-start;
    margin-bottom: 34px;
  }

  .operate-desktop__big-glass-card button {
    color: #f8f8f8;
    font-size: 1rem;
    font-weight: 600;
    line-height: 102.78%;
    border-radius: 19.203px;
    background: #0794f5;
    padding: 11px 23px;
    border: none;
  }

  .operate-desktop__divider {
    width: 1.685px;
    height: 55.594px;
    background: #fff;
  }

  .form__wrapper-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .small-text {
    font-size: 0.75rem !important;
  }

  .more-small {
    font-size: 0.4rem !important;
  }

  .form-section {
    padding: 55px 71px 37px;
  }

  .form-section h2 {
    color: #fff;
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 124.78%;
  }

  .form-section > p {
    width: 100%;
    color: #f8f8f8;
    font-size: 1rem;
    font-weight: 400;
    line-height: 102.78%;
  }

  .form-section form p {
    color: #f8f8f8;
    font-size: 1rem;
    font-weight: 400;
    line-height: 102.78%;
  }

  .alerts {
    padding: 54px 64px 81px;
  }

  .alerts h3 {
    text-align: center;
    margin-bottom: 42px;
    color: #535353;
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 124.78%;
  }

  .alerts__social-media > p {
    color: #ededec;
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 124.78%;
  }

  .alerts__social-media ul {
    gap: 35px;
  }

  .alerts__social-media ul li img {
    scale: 2;
  }

  .alerts__cards {
    display: flex;
    gap: 40px;
  }

  .alerts__card {
    flex-grow: 1;
  }

  .who-iam {
    background: url(./assets/foto-quem-sou-eu-desktop.png);
    padding: 39px 80px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-size: cover;
  }

  .who-iam > h3 {
    font-size: 4.875rem;
    font-weight: 600;
    margin-bottom: 30px;
    background: linear-gradient(
      127deg,
      #fff 0%,
      rgba(236, 236, 236, 0.54) 46.35%,
      #d3d3d3 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: normal;
  }

  .who-iam > p {
    text-align: right;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: normal;
    max-width: 600px;
  }

  .who-iam .site {
    align-items: flex-start;
    width: 100%;
  }

  .site .first {
    font-size: 3.125rem;
    font-weight: 600;
    line-height: normal;
  }

  .site .second {
    color: #fff;
    font-size: 1.875rem;
    font-weight: 600;
    line-height: normal;
    padding: 2px 37px;
  }

  .banner-bottom {
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }

  .banner-bottom .badge {
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 77.28%;
    padding: 5px 7px;
  }

  .banner-bottom > p {
    font-size: 1rem;
    line-height: 77.28%;
  }

  .ia-quant .modules {
    color: #242424;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 102.78%;
    border-radius: 25px;
    border: 1px solid #242424;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(17.5px);
    padding: 23px;
  }

  .ia-quant h2 {
    font-size: 7.25rem;
    font-weight: 700;
    line-height: 88.78%;
  }

  .ia-quant h2 img {
    width: 100px;
    height: 100px;
  }

  .ia-quant h4 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 102.78%;
  }

  .ia-quant h4 span {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 102.78%;
  }

  .ia-quant > p {
    color: rgba(36, 36, 36, 0.8);
    font-size: 1.25rem;
    line-height: 102.78%;
  }

  .ia-quant button {
    padding: 20px 40px;
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 102.78%;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding: 54px 74px;
  }

  footer p {
    font-size: 1rem;
    line-height: normal;
    font-weight: 400;
  }

  footer .titles {
    font-size: 1.25rem;
  }

  .footer__left {
    max-width: 402px;
  }

  .titles img {
    scale: 1.5;
    margin-right: 10px;
  }

  .copy p {
    font-size: 0.8rem !important;
  }

  footer ul li img {
    scale: 1.7;
    margin-right: 15px;
  }

  .operate-desktop .operate__top > img {
    margin-right: 10px;
  }
}

@media (min-width: 1300px) {
  .header__testimonials {
    justify-content: center;
  }

  .ultimate__price {
    font-size: 4.5rem;
  }

  .doubts__brands {
    display: flex;
    align-items: center;
    padding: 71px 62px;
    border-radius: 25px;
    background: whitesmoke;
    margin-bottom: 49px;
  }
}
